* {
    box-sizing: border-box;
}

body {
    font-family: 'Stylish', sans-serif;
    margin: 0;
    height: 100%;
    display: grid;
    grid-row: row;
    grid-template-columns: 2fr 4fr 4fr 4fr;
    grid-template-rows: 70px 70px 70px 300px 70px 70px;
    grid-template-areas:
    "info header header lives"
    "h3 alert alert lifeCount"
    "guessboard h1 h1 stickman"
    "guessboard div div stickman"
    "guessboard div div stickman"
    "form form nextCard restart";
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: black;
}

header {
    grid-area: header;
    text-align: center;
    font-size: 9vmin;
    font-family: 'Stylish', sans-serif;
    color: white;
}

h1 {
    grid-area: h1;
    border-style: solid;
    border-color: white;
    text-align: center;
    font-size: 4vmin;
    align-content: center;
    justify-content: center;
    color: white;
    width: 250px;
    height: 50px;
    margin: 0 280px 0 280px;
}

div {
    grid-area: div;
}

div img {
    justify-content: center;
    margin: 0 30vmin 0 30vmin;
}

input[type=submit] {
    background-color: black;
    font-size: 5vmin;
    width: 35vmin;
    height: 8vmin;
    padding: 0;
    margin: 6px 0 0 40px;
    font-family: 'Stylish', sans-serif;
    color: white;
}

#nextCard {
    grid-area: nextCard;
    font-family: 'Stylish', sans-serif;
    font-size: 5vmin;
    width: 35vmin;
    height: 8vmin;
    padding: 0;
    margin: 6px;
    color: white;
    background-color: black;
}

#info {
    grid-area: info;
    text-align: center;
    color: white;
}

#cardCount {
    grid-area: h3;
    font-size: 10vmin;
    text-align: center;
    color: white;
    margin: 0;
}

form {
    grid-area:form;
    font-family: 'Stylish', sans-serif;
}

#bombBoard {
    grid-area: stickman;
    text-align: center;
    
}

#number {
    font-size: 4vmin;
    grid-area: number;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-family: 'Stylish', sans-serif;
    
}

#guessboard {
    grid-area: guessboard;
}

#alert {
    grid-area: alert;
    justify-content: center;
    align-content: center;
    font-size: 5vmin;
    text-align: center;
    border-color: white;
    color: white;
    padding: 5px 0px;
}

#lives {
    grid-area: lives;
    text-align: center;
    color: white;
}

#lifeCount {
    grid-area: lifeCount;
    text-align: center;
    font-size: 10vmin;
    color: white;
    margin: 0;
}

section img {
    margin: 0;
}

#restart {
    grid-area: restart;
    display: none;
    background-color: black;
    font-size: 5vmin;
    width: 35vmin;
    height: 8vmin;
    padding: 0;
    margin: 6px 0 0 40px;
    font-family: 'Stylish', sans-serif;
    color: white;
}

img {
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0;
}

#gameboard img {
    margin: 0 280px 0 280px;
    justify-items: center;
}