* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-row: row;
    grid-template-columns: 2fr 4fr 4fr 4fr;
    grid-template-rows: 70px 70px 70px 300px 70px 70px;
    grid-template-areas:
    "info header header lives"
    "h3 alert alert lifeCount"
    "guessboard h1 h1 stickman"
    "guessboard div div stickman"
    "guessboard div div stickman"
    "form form nextCard restart";
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: pink;
}

header {
    grid-area: header;
    text-align: center;
    font-size: 7vmin;
    font-family: 'ZCOOL KuaiLe', cursive;
    background-color: blue; 
}

h1 {
    grid-area: h1;
    background-color: grey;
    text-align: center;
    font-size: 4vmin;
    align-content: center;
    justify-content: center;
}

div {
    grid-area: div;
}

div img {
    justify-content: center;
    margin: 0 30vmin 0 30vmin;
}

input[type=submit] {
    background-color: yellow;
    width: 41vmin;
    height: 8vmin;
    padding: 0;
    margin: 0;
}

input[type=text] {
    width: 41vmin;
    height: 8vmin;
    padding: 0;
    margin: 0;
}

#nextCard {
    grid-area: nextCard;
    width: 41vmin;
    height: 8vmin;
    padding: 0;
    margin: 6px;
}

#info {
    grid-area: info;
    text-align: center;
    background-color: red;
}

#cardCount {
    grid-area: h3;
    font-size: 5vmin;
    text-align: center;
}

form {
    grid-area:form;
}

#bombBoard {
    grid-area: stickman;
    text-align: center;
    
}

#number {
    font-size: 4vmin;
    grid-area: number;
    text-align: center;
    justify-content: center;
    align-content: center;
}

#guessboard {
    grid-area: guessboard;
}

#gameboard {
    background-color: orange;
}

#alert {
    grid-area: alert;
    justify-content: center;
    align-content: center;
    font-size: 6vmin;
    text-align: center;
    background-color: salmon;
}

#lives {
    grid-area: lives;
    text-align: center;
    background-color: white;
}

#lifeCount {
    grid-area: lifeCount;
    text-align: center;
    font-size: 5vmin;
}

section img {
    margin: 0;
}

#restart {
    grid-area: restart;
    display: none;
}